<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>
  <h1>error</h1>

<!--      <div th:utex="'&lt;!&#45;&#45;'" th:remove="tag"></div>-->
<!--        <div th:utex="'Failed Request URL : '+ ${url}" th:remove="tag"></div>-->
<!--        <div th:utex="'Exception message : '+ ${exception.message}" th:remove="tag"></div>-->
<!--        <ul th:remove="tag">-->
<!--            <li th:each="st:${exception.stackTrace}" th:remoce="tag"><span th:utex="${st}" th:remove="tag"></span></li>-->
<!--        </ul>-->
<!--        <div th:utex="'&#45;&#45;&gt;'" th:remove="tag"></div>-->
</body>
</html>